<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>
    <nav>
      <img src="/images/logo.png">
      <ul class="right">
        <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
              <a href="/auth/google"><i class="material-icons left"></i>Login</a>
              <a href="/gas/new" <%- title === 'Add Gas Station' ? 'class="active"' : '' %>>Add Station</a>
              <a href="/gas" <%- title === 'Browse' ? 'class="active"' : '' %>>Browse</a>
              <% } %>
        </li>
      
    </nav>


