<%- include('./partials/header') %>

    <main>


<p><%= title %></p>

<h1>Gas Tank looking a little empty?</h1>


<select name="city" id="chooseCity">
  <option selected="selected">Choose a City</option>
  <option value="Richmond Hill">Richmond Hill</option>
  <option value="Vaughan">Vaughan</option>
</select>



<a href="/gas" class="submitBtn">Find Gas</a>
<%- include('./partials/footer') %>

