<%- include('../partials/header') %>

<form id="new-form" action="/gas" method="POST">
  <label>Gas Name:</label>
  <input type="text" name="stationName">
  <label>city:</label>
  <input type="text" name="city">
  <label>street number:</label>
  <input type="text" name="streetNumber">
  <label>street name:</label>
  <input type="text" name="streetName">
  <label>postal code:</label>
  <input type="text" name="postalCode">
  <label>price:</label>
  <input type="text" name="gasPrice">
  <input type="submit" value="Add Gas">
</form>


